.section {
    text-align: center;
}

.h1 {
    text-transform: capitalize;
    font-size: 26px;
    padding: 40px 0;
}

.p {
    text-transform: lowercase;
    padding: 5px 0;
}

.a {
    margin: 25px 0;
}